@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
:root {
  --header-color: #354a29;
  --company-name-color: #e1e1e1;
  --mouseX: 0px;
  --mouseY: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

li,
a {
  all: unset;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #e1e1e1;
}

.container {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
}

header {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 66px 100px;
  position: fixed;
  top: 0;
  left: 0;
  color: var(--header-color);
}
header .logo {
  font-family: "Abril Fatface", cursive;
  font-size: 30px;
  text-transform: uppercase;
}
header .info {
  display: flex;
  justify-content: space-between;
  width: 100px;
}
header .info .cart {
  position: relative;
}
header .info .cart::before {
  position: absolute;
  top: -15px;
  right: -18px;
  content: "2";
  background-color: var(--header-color);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #e1e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  margin-right: 80px;
}
nav ul li {
  transform: rotate(90deg);
}
nav ul li a {
  color: var(--header-color);
}

#main {
  width: 100vw;
  height: 100vh;
  background-image: url("./image/bg.svg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
}
#main .company-name {
  color: var(--company-name-color);
  font-family: "Abril Fatface", cursive;
  font-size: 100px;
  letter-spacing: 0.3rem;
  position: relative;
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

#about {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
#about h2 {
  width: 730px;
  font-family: "Abril Fatface", cursive;
  font-size: 70px;
  margin: 40px auto 20px auto;
  letter-spacing: 0.1rem;
  color: #354a29;
}
#about p {
  width: 386px;
  margin: 0 auto;
  line-height: 1.2;
  font-size: 20px;
  color: #3d3b36;
}

#product {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#product .left {
  margin-right: 100px;
}
#product h2 {
  font-family: "Abril Fatface", cursive;
  color: #354a29;
  font-size: 70px;
  letter-spacing: 3px;
}
#product .mass-container .mass {
  transition: all 0.3s ease-out;
}
#product .mass-container .mass:hover {
  filter: drop-shadow(5px 5px 15px rgba(141, 141, 141, 0.418)) drop-shadow(-5px -5px 15px rgba(141, 141, 141, 0.418));
  transform: perspective(500px) translateZ(-200px);
}
#product .mass-container .mass:nth-child(1) {
  transform: translate3d(100px, -200px, 0) rotate(30deg);
}
#product .mass-container .mass:nth-child(2) {
  transform: translate3d(-100px, 100px, 0);
}
#product .mass-container .mass:nth-child(3) {
  transform: translate3d(50px, 150px, 0);
}
#product .mass-container .mass:nth-child(4) {
  transform: translate3d(-100px, -200px, 0);
}

.pointer {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate3d(var(--mouseX), var(--mouseY), 0) translateX(-50%) translateY(-50%);
  transition: transform 0.3s ease-out;
  width: 20px;
  height: 20px;
  background-color: #989a62;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
}
.pointer::after {
  content: "";
  position: absolute;
  border: 1px solid #989a62;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  border-radius: 50%;
  transform: translate3d(-6px, -6px, 0);
}
.pointer::before {
  content: attr(productName);
  position: absolute;
  top: 0;
  right: 50px;
  font-size: 20px;
  font-style: italic;
  color: #3d3b36;
  font-weight: bold;
  letter-spacing: 0.1rem;
}/*# sourceMappingURL=style.css.map */